body{
  background-color:#1C1C1C
}

h1{
  font-family:Orator Std;
  color:#F2F2F2;
    text-align:center;
}
ul
{
float:center;
width:100%;
padding:0px;
margin:0 auto;
position: relative;
left: 25%;
}
li
{
 font-family:Orator Std;
width:6em;
text-decoration:none;
color:white;
background-color:#1C1C1C;
padding:0.2em 0.6em;
border-right:1px solid white;
}

li {display:inline;}

li:first-child{
border-left: 1px solid white;
}


 /*height:120px*/

p{
  font-family:MS Reference Sans serif;
  color:#F2F2F2;
  font-size: 80%; /*12px*/
  padding: 1%;
 }

 .container {
  background-color: grey;
  width: 75%;
  min-height: 100px;
  margin: 0 auto;
  /*clear:both;*/
}

.row{
  clear: both;
  background-color:grey;
  overflow:hidden;
}

.col2{
  float:left;
  width:25%;
   background-color: none; /*was yellow*/

}

.inner-row{
  float: left;
  margin:1%;
  background-color: none;
  margin:2.5%; /*was red*/
}

.inner-row img {
  width: 97%;
  height:100%;
  border:2px solid black;
  position: relative; 
  /*
  width:250px;
  height:190px;
  border: solid 0.125em black;
  padding: 0%;
  margin: 1%;
  */
}

/*img{
  width:250px;
  height:190px; 
}*/

.title{
  background-color:#1C1C1C;
  float: none;
  z-index: 100;
}

.thumbnail{ float: left; -webkit-transition: margin 0.5s ease-out; -moz-transition: margin 0.5s ease-out; -o-transition: margin 0.5s ease-out; }
.thumbnail:hover { margin-top: -5%; }

/*http://designshack.net/?p=19746    (this is where the effect came from)*/


.image {
    position:relative;
    float:left; /* optional */
}
.image .text {
    position:absolute;
    bottom:5%; /*in conjunction with left property, decides the text position*/
    /*left:17px;*/
    width:98%; /* optional, though better have one, (the width use to be 300px I changed it or 246 is a perfect fit for the text box)*/
    background-color: #1C1C1C;
    opacity:100%;


}/* website used to get the text on the images!! http://www.kavoir.com/2009/02/css-text-over-image.html */

.image p{
  opacity: 100%;
}

.pressbox {
  width: 0;
  height: 0;
  position: fixed;
  overflow: hidden;
  left: 0;
  top: 0;
  z-index: 9999;
  text-align: center;
  background: rgba (0,0,0,7) ; 
  }

  .pressbox img {
    opacity: 0;
    padding: 10px;
    background: #ffffff;
    margin-top: 100px;
    -webkit-box-shadow: 0px 0px 15px #444;
    -moz-box-shadow: 0px 0px 15px #444; 
    box-shadow: 0px 0px 15px #444;  
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
    width: 80%;
    height:80%;   
    }

.pressbox:target {
  width: auto; 
  height: auto;
  bottom: 0;
  right: 0;
  }
  
  .pressbox:target img {
    opacity: 1;
    }

/* http://bavotasan.com/2012/using-target-to-create-a-lightbox-effect-with-css3/# (this is the website i used to get the lightbox effect on my images)*/ 

.col3{
  float:left;
  width:50%;
  background-color: none;
}

.col4{
 float:right;
  width:25%;
  background-color: none; 
}




